*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

:root{
  font-size: 16px;  
  font-family: 'Montserrat', sans-serif;
   
  /* Text colors */
  --text-primary: #b6b6b6;
  --text-secondary: #ececec;
  --text-navbar : white;  

  /* Background colors */
  --bg-primary: #23232e;
  --bg-secondary: #9e9ea5;
  --bg-tertiary: #19234c;

  /* Button colors */
  --btn-primary: #66676d;
  --btn-primary-hover: #6370e0;
  --btn-secondary:#3a8ff0;
  --btn-secondary-hover:#529df3;

  --btn-gradient-accent1: #6370e0;
  --btn-gradient-accent2: #4e2ce4;

  /* Animation speeds */
  --transition-speed: 600ms;

}

h1, h2, h3, h4, h5, h6, p{
  color: var(--text-secondary);
}
.App {
  /* background-color: var(--bg-tertiary); */
  background: linear-gradient(45deg, var(--bg-secondary),var(--bg-tertiary));
  width: 100%;
  overflow-x: hidden;
}

nav{
  display: flex;
  flex-direction: row;
  top: 0px;  
  position: fixed;
  width: 100%;
  font-family: 'Montserrat', sans-serif;
  justify-content: space-between;
  padding-top: 0.625rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  min-height: 10vh;
  align-items: center;  
  background-color: var(--bg-tertiary);  
}

.logo{  
  text-transform: uppercase;  
  letter-spacing: 3px;
  color: var(--text-navbar);  
}

.themes{  
  display: flex;
  position: absolute;
  top: 2.6vh;
  right: 3%;
  border: 1px solid rgb(224, 217, 217);
  width: 3.5em; 
  height: 1.6em;
  justify-content: space-around;
  padding: 0.1em;
  background-color: rgb(60, 61, 56);
  border-bottom-left-radius: 1em;
  border-top-left-radius: 1em;
  border-bottom-right-radius: 1em;
  border-top-right-radius: 1em;
  z-index: 1;  
}

.light-mode, .dark-mode{
  width: 1.2em;
  cursor: pointer;
  height: 1.2em;
  z-index: 2;
  padding: 0.1em;    
}

.navlinks{        
  display: flex;
  flex-direction: column;
  position: absolute;
  width: 50%;
  right: 10%;
  height: 93vh;    
  top: 7vh;
  background-color: var(--bg-tertiary);
  justify-content: space-around;   
  align-items: center;    
  transform: translateX(100%);
  transition: transform 0.3s ease-in;  
}

.navlinks li{
  list-style: none;
}

.navlinks a{
  font-size: 0.8em;    
  text-decoration: none;
  color: var(--text-navbar);
  letter-spacing: 2px;
  font-weight: bold; 
}

.nav-active{
  transform: translateX(0%);  
}

.Link{
  color: inherit;
  text-decoration: inherit;  
}

.body-content{
  margin-top: 10vh;
  min-height: 77vh;
}


.login-form{
  width: 100%;
  height: 90vh;  
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;          /* for vertical center */
  padding-bottom: 7em;
}

.login-form input{
  height: 2em;
  width: 25em;
  border-radius: 0.3em;
  border: none;
  z-index: 0;  
}

.login-form input::placeholder{
  padding-left: 0.5em;
}

.symbol{
  padding: 1em;
  margin-left: -1.5em;
  z-index: 2;
  color: var(--bg-social);
  
}

.main-content{
  display: flex;
  flex-direction: column;  
  color: white;      
  font-family: 'Montserrat', sans-serif;
  background-image: url(./assets/natraja.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  box-shadow:inset 5px 5px 185px rgba(0,0,0,.9);
  -webkit-box-shadow:inset 5px 5px 185px rgba(0,0,0,.9);
  -moz-box-shadow: inset 5px 5px 185px rgba(0,0,0,.9);
} 

.left-grid {       
  padding: 1.5em;
  font-size: 0.8em;
  color: var(--text-navbar);
}

.right-grid{   
  display: flex;
  flex-direction: column;
  align-items: center;  
}

.bg-img{
  width: 100%;    
}

.social-media{
  width: 20%;
}

.btn-main, .btn-secondary{
  font-size: 1.25em;
  width: 7em;
  height: 2em;  
  color: white;
  cursor: pointer; 
  border: none;
  border-radius: 0.31em;
 }
 
 .btn-main{   
   background: linear-gradient(145deg, var(--btn-primary), var(--btn-gradient-accent1));
 }

 .btn-main:hover{
   background: linear-gradient(45deg, var(--btn-primary-hover), var(--btn-gradient-accent1));
 }
 
 .btn-secondary{
   background: linear-gradient(145deg, var(--btn-secondary), var(--btn-gradient-accent2));
 }
 
 .btn-secondary:hover{
  background: linear-gradient(45deg, var(--btn-secondary-hover), var(--btn-gradient-accent2));
 }

 .secondary-content{
  display: block;
  background: linear-gradient(45deg, var(--bg-secondary),var(--bg-tertiary));
  color: var(--text-navbar);  
  text-align: center;
  padding: 2em;
}

.contact-form{
  display: flex;
  flex-direction: column;  
  align-items: center;
  padding: 3em;
}

.contact-form span{
  display: block;  
  width: 60%;
}

.contact-form span p{
  color: var(--text-secondary);  
}

.contact-form-elements{
  width: 95%;
  height: 2.4em;
  margin: 0.8em;  
  border-radius: 0.4em;
  border: none;  
}

.contact-form-elements::placeholder{
  padding-left: 0.5em;
  padding-top: 1em;
}

textarea{
  resize: none;
  min-height: 10em;  
}

.contactsubmission{
justify-content: center;
}

.contactsubmission span{
  padding: 1em;
  text-align: center;
}

.fa-2x{  font-size:2em;  }
.fa-3x{  font-size:3em;  }
.fa-4x{  font-size:4em;  }
.fa-5x{  font-size:5em;  }

.fa-2x, .fa-3x, .fa-4x, .fa-5x{
  color: var(--bg-social);
}

.footer{
  display: flex;
  color: var(--bg-social);
  padding-top: 1em;
  background-color: var(--bg-tertiary);
  justify-content: space-between;  
}

.middle-content li{
  list-style: none;
  cursor: pointer;
}

.contact-details, .middle-content {
  flex: 0 1 40%;
  text-align: left;
  font-size: 1.1em;
}
.social-media{
  flex: 0 1 20%;
}

.contact-details p, .social-media a{
  color: var(--bg-social);
}

.developer-details{
  display: flex;
  justify-content: center;
  background-color: var(--bg-tertiary);
  color: var(--text-primary);
  font-size: 0.62em;
  padding-bottom: 2em;
}

.plans{  
  width: 100%;
  min-height: 77vh;
}

.card{
  display: flex;
  flex-direction: column;  
  border-radius: 0.7em;
  width: 100%;
  padding: 1px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  margin: 2em;
  border-radius: 0.7em;
  transition: box-shadow 0.3s;
}

.card img{
  width: 100%;
}

.card p, h5{
  background-color: rgb(173, 167, 167);
  text-align: center;
  padding: 0.7em;
  color: white;
}

.card h5{
  background-color: rgb(158, 191, 221);
  padding: 1em;  
}

.card:hover{
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}



/*==============================================*/
/*---------------- Media Queries ---------------*/
/*==============================================*/

/*==============================================*/
/*-------   Max-Screeen-Size : 345px     -------*/
/*==============================================*/

@media only screen and (max-width: 345px) {

  h3{
    font-size: 1em !important;
  }

  .logo{
    font-size: 1.25rem;
  }
 
  .navlinks{
    right: 0;
  }

  .themes{
    right: 20%;
    top: calc(5vh - 0.8em);
  }

  .hamburger-menu  div{
    width: 1.25em;
    height: 2px;
    background-color: var(--text-navbar);
    margin: 5px;    
    transition: all 0.3s ease;
  }

  .login-form input{    
    width: 15em;
  }

  .main-content{
    box-shadow:inset 5px 5px 85px rgba(0,0,0,.9);
    -webkit-box-shadow:inset 5px 5px 85px rgba(0,0,0,.9);
    -moz-box-shadow: inset 5px 5px 85px rgba(0,0,0,.9);  
  }

  .left-grid {        
    order: 1;
    background-color: rgba(0,0,0,0.65);    
    border-radius: 1em;
    margin: 2em;
    margin-top: 0;
    text-align: center;
  }

  .right-grid{
    order: 0;
  }

  .bg-img{
    padding: 1.3em;
    padding-top: 3em;
    padding-bottom: 0;
  }

  .secondary-content p{
    padding: 1em;
  }
  
  .footer{
    font-size: 0.7em;
    padding: 0.7em;
  }

  .contact-details, .middle-content{
    text-align: left;
    font-size: 1.1em;
  }

  .contact-details { flex: 0 1 35%;  }
  .middle-content  { flex: 0 1 25%;  }

  .social-media{
    flex: 0 1 30%;
    font-size: 1.5em;
  }
  
  .social-media a{
    padding: 0.2em !important;
  }

  .toggle .line1{
    transform: rotate(-45deg) translateY(.6em);
  }

  .toggle .line2{
    opacity: 0;
  }

  .toggle .line3{
    transform: rotate(45deg)  translateY(-.6em);
  }

  .contact-form{
    font-size: .8em;
    padding: 2em;
  }
  
  .contact-form span{    
    width: 75%;
  }
  
  .contact-form input{    
    height: 1.8em;
  }
  
  .contact-form-message{
    min-height: 7em;  
  }

  .plans{
    display: flex;
    flex-direction: column;
    padding: 2em;
  }

  .card{
    width: 80%;
  }

}

/*==============================================*/
/*-------   Min-Screeen-Size : 346px     -------*/
/*==============================================*/

@media only screen and (min-width: 346px) {

  h3{
    font-size: 1em !important;
  }

  .logo{
    font-size: 1.25rem;
  }

  .navlinks{
    right: 0;    
  }

  .themes{
    right: 20%;
    top: calc(5vh - 0.8em);
  }
  
  .hamburger-menu  div{
    width: 1.25rem;
    height: 2px;
    background-color: var(--text-navbar);
    margin: 5px;
    transition: all 0.3s ease;
  }

  .login-form input{    
    width: 16em;
  }

  .main-content{
    box-shadow:inset 5px 5px 85px rgba(0,0,0,.9);
    -webkit-box-shadow:inset 5px 5px 85px rgba(0,0,0,.9);
    -moz-box-shadow: inset 5px 5px 85px rgba(0,0,0,.9);  
  }

  .left-grid {        
    order: 1;
    background-color: rgba(0,0,0,0.65);    
    border-radius: 1em;
    margin: 2em;
    margin-top: 0;
    text-align: center;
  }

  .right-grid{
    order: 0;
  }

  .bg-img{
    padding: 1.3em;
    padding-top: 3em;
    padding-bottom: 0;
  }

  .secondary-content p{
    padding: 1em;
  }
  
  .footer{
    font-size: 0.7em;
    padding: 0.8em;
  }

  .contact-details, .middle-content{
    text-align: left;
    font-size: 1.1em;
  }

  .contact-details {  flex: 0 1 35%;  }
  .middle-content  {  flex: 0 1 25%;  }
  
  .social-media{
    flex: 0 1 30%;
    font-size: 1.6em;
  }

  .social-media a{
    padding: 0.25em;
  }
  
  .toggle .line1{
    transform: rotate(-45deg) translateY(.6em) ;
  }

  .toggle .line2{
    opacity: 0;
  }

  .toggle .line3{
    transform: rotate(45deg)  translateY(-.6em);
  }

  .contact-form{
    font-size: .8em;
  }

  .contact-form span{    
    width: 80%;
  }

  .plans{
    display: flex;
    flex-direction: column;
    padding: 2em;
    align-items: center;
  }

  .card{
    width: 80%;
  }
}

/*==============================================*/
/*-------   Min-Screeen-Size : 400px     -------*/
/*==============================================*/

@media only screen and (min-width: 400px) {
  body{
    font-size: 18px;
  }

  .themes{    
    right: 20%;
    border: 2px solid rgb(224, 217, 217);
  }

  .toggle .line1{
    transform: rotate(-45deg) translateY(.54em) ;
  }

  .toggle .line2{
    opacity: 0;
  }

  .toggle .line3{
    transform: rotate(45deg)  translateY(-.54em);
  }

}


/*==============================================*/
/*-------   Min-Screeen-Size : 600px     -------*/
/*==============================================*/

@media only screen and (min-width: 600px) {
  body{
    font-size: 20px;
  }

  .login-form input{    
    width: 20em;
  }

  .themes{    
    right: 12%;
  }

  .toggle .line1{
    transform: rotate(-45deg) translateY(.5em) ;
  }

  .toggle .line2{
    opacity: 0;
  }

  .toggle .line3{
    transform: rotate(45deg)  translateY(-.5em);
  }

}

/*==============================================*/
/*-------   Min-Screeen-Size : 768px     -------*/
/*==============================================*/

@media only screen and (min-width: 768px) {
  body{
    font-size: 20px;
  }

  .hamburger-menu  div{
    width: 1.35em;    
    margin: 7px;
  }

  .login-form input{    
    width: 22em;
  }

  .main-content{
    box-shadow:inset 5px 5px 185px rgba(0,0,0,.9);
    -webkit-box-shadow:inset 5px 5px 185px rgba(0,0,0,.9);
    -moz-box-shadow: inset 5px 5px 185px rgba(0,0,0,.9);  
  }

  .left-grid{
    margin-left: 4em;
    margin-right: 4em;
  }

  .contact-details {  flex: 0 1 30%;  }
  .middle-content  {  flex: 0 1 40%;  }

  .middle-content{
    display: grid;
    grid-template-areas:
    "column1 column2" ;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    justify-content: space-between;  
    
  }
  
  .col1{
    grid-area: column1;
    justify-content: space-around;
  }
  
  .col2{
    grid-area: column2;
    justify-content: space-around;
  }
    
  .social-media{    
    font-size: 2em;
    text-align: right;
  }
 
  .footer{
    padding: 2em;
  }

  .toggle .line1{
    transform: rotate(-45deg) translateY(.62em) ;
  }

  .toggle .line2{
    opacity: 0;
  }

  .toggle .line3{
    transform: rotate(45deg)  translateY(-.62em);
  }


}

/*==============================================*/
/*-------   Min-Screeen-Size : 932px     -------*/
/*==============================================*/

@media only screen and (min-width: 932px) {
  body{
    font-size: 20px;
  }

  .hamburger-menu  div{
    width: 1.45em;   
  }
 
  .footer{
    padding: 3em;
  }

  .social-media{
    font-size: 2.3em;
  }
}

/*==============================================*/
/*-------   Min-Screeen-Size : 1200px    -------*/
/*==============================================*/

@media only screen and (min-width: 1200px) {

  body{
    font-size: 20px;
  }

  .left-grid{
    order: 0;
  }

  .right-grid{
    order: 1;
  }

 .themes{
   right: 2.5%;
 }

 .login-form input{    
  width: 25em;
}

  .navlinks{            
    flex-direction: row;
    width: 40%;
    right: 8%;
    justify-content: space-around;
    transform: translateX(0%);
    position: absolute;
    top: 0;
    height: 10vh;    
    align-items: center;    
    padding: 2.5 em;    
  }
  
  .hamburger-menu{
    display: none;
  }

  .navlinks li{
    list-style: none;
  }
  
  .navlinks a{    
    font-size: 0.8em;    
    color: var(--text-navbar);
    text-decoration: none;
    letter-spacing: 2px;
    font-weight: bold;
  }

  .navlinks li:nth-child(4){   
    background-color: var(--btn-secondary);
    padding: 10px;
    border-radius: 5px;
    margin-top: -9px;  
  }
  
  .navlinks li:nth-child(4):hover{
    background-color: var(--btn-gradient-accent1);
  }
 
  .main-content{
    display: grid;
    color: white;  
    grid-template-areas: 
        "area1 image1";
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    justify-content: space-evenly;
    align-items: center;        
    z-index: -1;
    text-align: center;
    background-image: url(./assets/natraja.png);
    background-repeat: no-repeat;
    box-shadow:inset 5px 5px 185px rgba(0,0,0,.9);
    -webkit-box-shadow:inset 5px 5px 185px rgba(0,0,0,.9);
    -moz-box-shadow: inset 5px 5px 185px rgba(0,0,0,.9);
    background-size: cover;
    background-position: center;
  } 

  .section-secondary{
    display: flex;
    flex-direction: row;  
    text-align: justify;  
  }

  .plans{
    flex-direction: row ;
    padding: 1em;
  }
  
  .footer{
    padding: 4em;    
  }

  .social-media{
    font-size: 3em;    
  }

  .contact-form{
    font-size: .8em;
  }

  .contact-form span{    
    width: 50%;
  }
}

/*==============================================*/
/*-------   Min-Screeen-Size : 1440px    -------*/
/*==============================================*/

@media only screen and (min-width: 1440px) {
  /* Todo : check if this media query is even required. */
}

/*==============================================*/
/*-------   Min-Screeen-Size : 1600px    -------*/
/*==============================================*/

@media only screen and (min-width: 1600px) {
  /* Todo : check if this media query is even required. */
}